body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.header {
    position: relative;
    overflow: hidden;
    height: 300px; /* Adjust the height based on your image */
    background-size: cover;
    background-position: center;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header h1, header h2, header h3, header p {
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container */
}

/* Education Section */
.education,
/* About Me Section */
.about-me,
/* Personal Experience Section */
.experience,
/* Martial Arts Section */
.martial-arts,
/* Contact Section */
.contact {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Hover effect on sections */
.education:hover,
.about-me:hover,
.experience:hover,
.martial-arts:hover,
.contact:hover {
    background-color: #f2f8fd;
}

.experience-item {
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .header {
        height: 200px; /* Adjust the height for smaller screens */
    }

    .header-content {
        font-size: 80%;
    }
}
